@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Quattrocento&display=swap");

$theme-colors: (
  "primary": $yellow-500,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

@import "~bootstrap/scss/bootstrap.scss";

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: $light;
}

* {
  font-family: "Quattrocento", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}
